# Framework principal
Django

# API REST
djangorestframework
django-cors-headers

# Testing
pytest
pytest-django

# Linter / Formato de código
flake8
black

# Base de datos (opcional, por si migramos a Postgres en producción)
psycopg2-binary

# Seguridad y configuración
python-decouple
djangorestframework-simplejwt

# trigger pipeline test

#jashdjasd